.checkbox-wrapper {
    display: flex;
    margin-right: 20px;
    align-items: center;
    cursor: pointer;
}

.checkbox-wrapper.-withDisabled{
    cursor: unset;
    opacity: 0.8;
}

.checkbox-wrapper__title{
    margin-left: 10px;
    width: 45px;
}

.checkbox-wrapper__title.-withChecked{
    font-weight: 600;
}
