body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #F5F5F5;
}

button {
    border: none;
}

button:active, button:focus {
  outline: none;
}

.app {
    padding: 7px 16px;
    display: block;
    max-width: 1400px;
    margin: 0 auto;
    
}

.container {
    background-color: #FFFFFF;
    margin-bottom: 36px;
    padding: 0 22px;
}

.permissions-list {
    display: flex;
    flex-wrap: wrap;
}
